*.exe
*.db
*.xml
*.o
bin\build
*-shm
*-wal
*.sqbpro
bak/
*.autosave
*.log
*.tmp
*.db
*.bak
*.old
xml-parser/assets/
xml-parser/build
*.dll
*.dll.a
build/
*.bin
*.kotoba
*.kotoba.idx
xml-parser\assets
/build/
/bin/
*.dat