<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotobaplus.app">

    <application
        android:label="Kotoba+"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name="com.kotobaplus.app.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|screenLayout|uiMode|locale|fontScale|density|navigation"
            android:launchMode="singleTask"
            android:resizeableActivity="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="kotoba_qml"/>

        </activity>

    </application>
</manifest>